@import "mocha.css";

* {
  border: none;
  font: bold 0.98rem "JetBrainsMono Nerd Font";
}

window#waybar {
  background: transparent;
}

#waybar > box {
  margin-top: 0.25rem;
  padding: 0rem 0.3rem;
}

#battery,
#bluetooth,
#clock,
#custom-expand-icon,
#custom-nixos,
#network,
#privacy,
tooltip,
#tray,
#wireplumber,
#wireplumber#source,
#workspaces {
  background: @base;
  border-radius: 0.4rem;
  margin: 0.25rem 0.25rem;
  padding: 0.2rem 0.6rem;
}

#battery.warning {
  color: @yellow;
  animation: yellow_blink 2s infinite ease-out;
}

#battery.critical {
  color: @red;
  animation: red_blink 1s infinite ease-out;
}

#workspaces {
  padding: 0 0.2rem;
}

#workspaces button {
  all: initial;
  border-radius: 0.6rem;
  color: @text;
  padding: 0 1.2rem;
  transition: all 0.5s ease-out;
}

#workspaces button.active,
#workspaces button:hover {
  background: @surface0;
  box-shadow: inset 0.3rem 0.25rem 0 0 @base, inset -0.3rem -0.25rem 0 0 @base;
}

#workspaces button.empty,
#workspaces button:hover {
  opacity: 0.5;
}

#privacy image,
#tray image {
  margin: 0 0.5rem;
}

@keyframes yellow_blink {
  50% {
    text-shadow: 0 0 0.125rem alpha(@yellow, 1);
  }
  100% {
    text-shadow: 0 0 0.125rem alpha(@yellow, 0.5);
  }
}
@keyframes red_blink {
  50% {
    text-shadow: 0 0 0.125rem alpha(@red, 1);
  }
  100% {
    text-shadow: 0 0 0.125rem alpha(@red, 0.5);
  }
}
